.page-header
  = link_to new_message_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Message
  %h1 Listing messages

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Content
        %th Reply
        %th Messageable
        %th Messageable type
        %th Phone number
        %th Status
        %th
        %th
        %th

    %tbody
      - @messages.each do |message|
        %tr
          %td= message.content
          %td= message.reply
          %td= message.messageable_id
          %td= message.messageable_type
          %td= message.phone_number
          %td= message.status
          %td= link_to 'Show', message
          %td= link_to 'Edit', edit_message_path(message)
          %td= link_to 'Destroy', message, data: { confirm: 'Are you sure?' }, method: :delete
