.page-header
  %h1 Listing messages

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Incoming
        %th Outgoing
        %th Sender
        %th Phone number
        %th Status
        %th Created at
        %th
        %th

    %tbody
      - @messages.each do |message|
        %tr
          %td= message.content
          %td= message.reply
          - if message.messageable_id
            %td= link_to message.messageable.to_s, polymorphic_path(message.messageable)
          - else
            %td= 'N/A'
          %td= message.phone_number
          %td= message.status
          %td= message.created_at
          %td= link_to 'Reply', edit_message_path(message)
          %td= link_to 'Destroy', message, data: { confirm: 'Are you sure?' }, method: :delete
