.panel.panel-flat
  .panel-heading
    %h5.panel-title
      Messages
  .panel-body
  #DataTables_Table_2_wrapper.dataTables_wrapper.no-footer
    .datatable-scroll
      %table#DataTables_Table_2.table.table-responsive.datatable-save-state.dataTable.no-footer{"aria-describedby" => "DataTables_Table_2_info", :role => "grid"}
        %thead
          %tr{:role => "row"}
            %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "First Name: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Incoming

            %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "Last Name: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Outgoing
            %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "Job Title: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Sender
            %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "DOB: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Phone number
            %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "Status: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Status
            %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "Status: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Action
            %th.text-center.sorting_disabled{"aria-label" => "Actions", :colspan => "1", :rowspan => "1", :style => "width: 100px;"}
        %tbody
          - @messages.each do |message|
            %tr{ role: "row" }
              %td= message.content
              %td= message.reply
              - if message.messageable_id
                %td= link_to message.messageable.to_s, polymorphic_path(message.messageable)
              - else
                %td= 'N/A'
              %td= message.phone_number
              %td= message.status
              %td= message.created_at
              %td= link_to 'Reply', edit_message_path(message)
              %td= link_to 'Destroy', message, data: { confirm: 'Are you sure?' }, method: :delete
    .datatable-footer
      #DataTables_Table_2_info.dataTables_info{"aria-live" => "polite", :role => "status"}
      #DataTables_Table_2_paginate.dataTables_paginate.paging_simple_numbers
        = will_paginate @messages, renderer: BootstrapPagination::Rails