.panel.panel-flat
  .panel-heading
    %h5.panel-title Message Information

  .panel-body
    .row
      = link_to messages_path, class: 'btn btn-primary pull-right back-btn' do
        %i.icon-circle-left2.position-left
        Back
    .table-responsive.content-group
      %table.table.table-framed
        %thead
          %tr
            %th.col-xs-3 Message information

            %th Value
        %tbody
          %tr
            %td
              %span.text-semibold Content
            %td= @message.content
          %tr
            %td
              %span.text-semibold Reply
            %td= @message.reply
          %tr
            %td
              %span.text-semibold Sender
            %td
              - if @message.messageable_id
                = link_to @message.messageable.to_s, polymorphic_path(@message.messageable)
              - else
                N/A
          %tr
            %td
              %span.text-semibold Phone number
            %td= @message.phone_number
          %tr
            %td
              %span.text-semibold Status
            %td
              = @message.status