.panel.panel-flat
  .panel-heading
    %h5.panel-title
      Users
  .panel-body
  #DataTables_Table_2_wrapper.dataTables_wrapper.no-footer
    .datatable-scroll
      %table#DataTables_Table_2.table.table-responsive.datatable-save-state.dataTable.no-footer{"aria-describedby" => "DataTables_Table_2_info", :role => "grid"}
        %thead
          %tr{:role => "row"}
            %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "First Name: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Email
            %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "First Name: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Created at
            %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "Last Name: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Action
            %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "Status: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"}
            %th.text-center.sorting_disabled{"aria-label" => "Actions", :colspan => "1", :rowspan => "1", :style => "width: 100px;"}
        %tbody
          - @users.each do |user|
            %tr{ role: "row" }
              %td= user.email
              %td= user.created_at
              %td
                = link_to user, class: "text-primary-600" do
                  %i.icon-info22
                  Show
              %td
                = link_to edit_user_path(user), class: "text-success-600" do
                  %i.icon-pencil7
                  Edit
              %td
                = link_to user, data: { confirm: 'Are you sure?' }, method: :delete, class: "text-danger-600" do
                  %i.icon-trash
                  Delete
    .datatable-footer
      #DataTables_Table_2_info.dataTables_info{"aria-live" => "polite", :role => "status"}
      #DataTables_Table_2_paginate.dataTables_paginate.paging_simple_numbers
        = will_paginate @users, renderer: BootstrapPagination::Rails