.page-header
  %h1 Listing agents

.table-responsive
  %table.table
    %thead
      %tr
        %th First name
        %th Last name
        %th Phone
        %th Email
        %th Office name
        %th
        / %th
        / %th

    %tbody
      - @agents.each do |agent|
        %tr
          %td= agent.first_name
          %td= agent.last_name
          %td= agent.phone
          %td= agent.email
          %td= agent.office_name
          %td= link_to 'Show', agent
          / %td= link_to 'Edit', edit_agent_path(agent)
          / %td= link_to 'Destroy', agent, data: { confirm: 'Are you sure?' }, method: :delete

= will_paginate @agents, renderer: BootstrapPagination::Rails