#DataTables_Table_2_wrapper.dataTables_wrapper.no-footer
  .datatable-scroll
    %table#DataTables_Table_2.table.table-responsive.datatable-save-state.dataTable.no-footer{"aria-describedby" => "DataTables_Table_2_info", :role => "grid"}
      %thead
        %tr{:role => "row"}
          %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "First Name: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Hot Deal
          %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "Last Name: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Price
          %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "Job Title: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Comps
          %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "DOB: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Zestimate
          %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "Status: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Adress
          %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "Status: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} City
          %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "Status: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Bed
          %th.sorting_disabled{"aria-controls" => "DataTables_Table_2", "aria-label" => "Status: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Bath
          %th.text-center.sorting_disabled{"aria-label" => "Actions", :colspan => "1", :rowspan => "1", :style => "width: 100px;"} Action
      %tbody
        - @deals.each do |deal|
          %tr{ role: "row" }
            - if deal.hot_deal
              %td
                %span.label.label-danger= "Hot Deal"
            - else
              %td
                %span

            %td= format_currency(deal.price)
            %td= format_currency(deal.comp)
            %td= format_currency(deal.zestimate)
            %td= deal.address
            %td= deal.city
            %td= deal.bedroom
            %td= deal.bathroom
            %td
              = link_to deal, class: "text-primary-600" do
                %i.icon-info22
                Show


      / Scrollable datatable
  .datatable-footer
    #DataTables_Table_2_info.dataTables_info{"aria-live" => "polite", :role => "status"}
    #DataTables_Table_2_paginate.dataTables_paginate.paging_simple_numbers
      = will_paginate @deals, renderer: BootstrapPagination::Rails