.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Hot Deal?
        %th Listing ID
        %th Price
        %th Comps
        %th Zestimate
        %th Address
        %th City
        %th Zipcode
        %th Type
        %th Home Status
        %th Bed
        %th Bath
        %th DOM
        %th Agent
        %th Remark
        %th Date
        %th

    %tbody
      - @deals.each do |deal|
        %tr
          - if deal.hot_deal
            %td
              %b= deal.hot_deal
          - else
            %td= deal.hot_deal
          %td= deal.listing_id
          %td= format_currency(deal.price)
          %td= format_currency(deal.comp)
          %td= format_currency(deal.zestimate)
          %td= deal.address
          %td= deal.city
          %td= deal.zipcode
          %td= deal.home_type
          %td= deal.home_status
          %td= deal.bedroom
          %td= deal.bathroom
          %td= deal.dom_cdom
          %td= link_to deal.agent.full_name, agent_path(deal.agent)
          %td= deal.remark
          %td= deal.created_at.to_date
          %td= link_to 'Show'.freeze, deal