<div class="page-container login-container">
  <div class="panel panel-body login-form">
    <div class="text-center">
      <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
      <h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
      <div class="form-group has-feedback has-feedback-left">
        <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
        <div class="form-control-feedback">
          <i class="icon-user text-muted"></i>
        </div>
      </div>

      <div class="form-group has-feedback has-feedback-left">
        <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off" %>
        <div class="form-control-feedback">
          <i class="icon-lock2 text-muted"></i>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Sign in", class: "btn btn-primary btn-block" do %>
         <i class="icon-circle-right2 position-right"></i>
        <% end %>
      </div>
    <% end %>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


